.todo-form-submit {
	width: 190%;
}

.todo-form-submit input {
	border-radius: 5px;
	border: 2px solid #888;
	padding: 10px;
}

.todo-form-submit i {
	background-color: #007bff;
	color: #fff;
	padding: .375rem .75rem;
	margin: 1rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 50%;
	cursor: pointer;
	outline: none;
}

.todo-item-container ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.todo-item-content {
	border: 1px solid #222;
	border-radius: 5px;
	height: 50px;
	margin: 5px;
}

.todo-message {
	padding: 12px;
	width: 65%;
	text-transform: capitalize;
	float: left;
}

.todo-message:hover {
	cursor: pointer;
	background: lightgray;
	border-radius: 3px;
}

.del-upd-buttons {
	width: 27%;
	margin: 0;
	padding: 2px;
	float: right;
}

.del-upd-buttons i {
	/* background-color: #007bff; */

	background-color: #444;
	color: #fff;
	padding: .375rem .75rem;
	margin: 5px;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 50%;
	cursor: pointer;
}

.update-todo-btn {
	background-color: #007bff;
	color: #fff;
	padding: .375rem .75rem;
	margin: 5px;
	font-size: .75rem;
	line-height: 1.5;
	border-radius: 5px;
	cursor: pointer;
}
