.app-container {
	width: 100%;
}

.navbar-container {
	background-color: white;
	border-bottom: 3px solid black;
	margin-bottom: 50px;
	/* height: 50px; */
}

.navbar-container li {
	list-style: none;
}

.navbar-container ul {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0;
}

.navbar-container a {
	color: black;
	text-decoration: none;
}

.navbar-container a:hover {
	color: grey;
}

.navbar-list {
	/* background: red; */
	/* height: 100%; */
}

.logout-btn {
}

.logout-btn {
	background: #00bfff;
	border: none;
	cursor: pointer;
	border: 1px solid black;
	border-radius: 2px;
}

.logout-btn:hover {
	background: #4169e1;
}

.logout-btn:active {
	background: #7b68ee;
}
.selected {
	font-weight: bold;
	text-decoration: line-through;
}

.logged-in-container {
	display: flex;
	justify-content: flex-end;
	margin: 15px;
}

.logged-in-item {
	margin-right: 20px;
}

.logged-in-user {
	font-weight: bold;
}
