.shopping-container {
	background: #c0c0c0;
}

.shopping-title {
	padding: 0 10px;
	font-size: 28px;
	text-align: center;
	font-style: italic;
	font-family: Arial, Helvetica, sans-serif;
}
.form-container {
	/* border: 2px solid black; */
	/* border-radius: 5px; */
	/* margin: 5px; */
	display: flex;
}
.form-input-submit {
	margin: 0 20px auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 92%;
	/* margin: 10px; */
}
.input-field {
	border-radius: 5px;
	width: 70%;
	max-height: 30px;
	padding: 2.6px;
	font-size: 20px;
	margin: 5px 10px 5px 10px auto;
	text-align: center;
}
.input-submit {
	width: 35%;
	height: 32px;
	background: #4caf50;
	border: none;
	cursor: pointer;
	border: 1px solid black;
	border-radius: 5px;
	margin: 5px auto;
	font-size: 16px;
}
.input-submit:hover {
	background: #228b22;
	font-weight: bold;
}
.input-submit:active {
	background: #006400;
}
.input-update {
	width: 30%;
	height: 30px;
	background: #4caf50;
	border: none;
	cursor: pointer;
	border: 1px solid black;
	border-radius: 5px;
	margin: 0 5px;
	font-size: 16px;
}
.clear-button {
	margin: 5px auto;
	width: 15%;
	height: 32px;
	background: #cd5c5c;
	border: none;
	cursor: pointer;
	border: 1px solid black;
	border-radius: 5px;
	font-size: 16px;
}
.clear-button:hover {
	background: #b22222;
	font-weight: bold;
}
.clear-button:active {
	background: #8b0000;
}
.list-container {
	/* border: 2px solid black; */
	border-radius: 5px;
	min-height: 450px;
	list-style-type: none;
	margin: 5px;
	padding: 10px;
}
.item-container {
	border: 1px solid black;
	border-radius: 10px;
	width: 93%;
	height: 30px;
	margin: 10px auto;
	padding: 0 2px;
	display: flex;
	justify-content: space-between;
	font-size: 20px;
	background: white;
}
.item-container i {
	margin: 5px;
}
.item-message {
	cursor: pointer;
	width: 85%;
	overflow: hidden;
}
.item-message:hover {
	font-weight: 500;
}
.item-message:active {
	font-weight: 900;
}
.item-btn {
	width: 15%;
	cursor: pointer;
	display: flex;
	justify-content: flex-end;
}
.fa-pencil-alt:hover {
	transform: scale(1.1);
}
.fa-trash-alt:hover {
	transform: scale(1.1);
}
@media (max-width: 600px) {
	.shopping-container__white {
		margin: 10px;
	}
	.shopping-container__blue {
		margin: 10px;
	}
	.shopping-container__pink {
		margin: 10px;
	}
	.form-input-submit {
		flex-direction: column;
		padding: 10px;
	}
	.input-field {
		width: 99%;
		min-height: 30px;
		border-radius: 10px;
		margin-bottom: 10px;
	}
	.input-submit {
		width: 100%;
		margin: 5px 0;
		border-radius: 10px;
	}
	.input-update {
		width: 100%;
		margin: 5px 0;
		border-radius: 10px;
	}
	.clear-button {
		width: 100%;
		border-radius: 10px;
	}
	.item-message {
		width: 80%;
	}
	.item-btn {
		width: 20%;
	}
}
