.shopping-container {
	border: 5px solid grey;
	width: 75%;
	min-height: 550px;
	margin: auto;
}

.shopping-title {
	margin: 12px;
}

.form-container {
	border: 2px solid grey;
	margin: 5px;
}

.form-input-submit {
	/* border: 1px solid red; */
	display: flex;
	width: 91%;
	margin: auto;
}

.input-field {
	width: 70%;
}
.input-submit {
	width: 30%;
}

.list-container {
	border: 2px solid grey;
	min-height: 450px;
	list-style-type: none;
	margin: 5px;
	padding: 10px;
}

.item-container {
	max-width: 100%;
	margin: 3px;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}

.item-message:hover {
	background: lightgray;
	border-radius: 3px;
}

.item-container i {
	margin: 5px;
	cursor: pointer;
}

.item-message {
	width: 75%;
	word-wrap: break-word;
}

.item-buttons {
	width: 24.5%;
}

.item-buttons button {
	width: 50%;
}
